@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');
body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Darumadrop One', sans-serif;
}
.welcome {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.welcome-container {
    text-align: center;
    box-shadow: 0px 0px 10px #f0f0f0;
    height: 30vh;
    width: 35vw;
}